@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css2?family=Play');

html,
body {
  background-image: linear-gradient(to right bottom, #292929, #303030, #373737, #3f3f3f, #464646);
  font-family: Outfit, Arial;
  padding: 0px;
  margin: 0px;
  color: white;
}

.socialButton {
  display: inline-block;
  margin-inline: 5px;
}

.social {
  width: 30px;
  height: auto;
  filter: invert(100%);
}

.button {
  cursor: pointer;
  color: white;
  padding: 4px;

  padding-inline: 40px;
  border-radius: 2px;
  background-color: ;
  border-bottom: 1px solid gray;
  text-decoration: none;

  transition: color ease 0.4s;
  transition: transform 0.4s;
  transition: box-shadow 0.4s;
  transition: background-color ease 0.4s;

}

.button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.01);
  box-shadow: 0px 0px 5px 1px #111;
}

.bg-text {

  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/opacity/see-through */
  color: white;


  position: absolute;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 10px;
  padding-inline: 20px;
  text-align: center;

}